@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.SheetSideContainer {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
}

.Sheet {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
  width: 100%;
}

.MenubarSeparator {
  width: 1px;
  background-color:aliceblue;
  margin: 0 10px;
}

.SheetButton {
  flex: 0 0 auto;
  color: var(--mauve-11);
  padding: 0 10px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}

.SheetButton:hover {
  background-color: var(--violet-3);
  color: var(--violet-11);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.SheetContent {
  padding: 20px;
  border-radius: 6px;
  background-color: var(--mauve-1);
  box-shadow: 0 2px 10px var(--black-a7);
  width: 3000px; /* Adjust width as necessary */
  animation-duration: 0.3s; /* Animation duration */
  animation-timing-function: ease-in-out; /* Animation timing function */
}

.SheetContent.slide-in {
  animation-name: slideOutToLeft;
}

.SheetContent.slide-out {
  animation-name: slideInFromLeft;
}

.SheetHeader {
  margin-bottom: 16px;
}

.SheetTitle {
  font-size: 18px;
  font-weight: bold;
  color: var(--mauve-12);
}

.SheetDescription {
  font-size: 14px;
  color: var(--mauve-11);
}

.SheetForm {
  padding: 16px 0;
}

.Label {
  font-size: 14px;
  color: var(--mauve-12);
}

.Input {
  border: 1px solid var(--mauve-6);
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.SheetFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

.SaveButton {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: var(--violet-9);
  border-radius: 4px;
  cursor: pointer;
}

.SaveButton:hover {
  background-color: var(--violet-10);
  color: white;
}

.terminal {
  background-color: black;
  color: lime;
  padding: 10px;
  font-family: monospace;
  border-radius: 5px;
  width: 100%;
  overflow-y: auto;
  max-height: calc(90vh - 80px); /* Set max height to 80% of viewport height */
}

.terminal-command-set {
  margin-bottom: 20px;
}

.terminal-line {
  margin: 0;
}